.formo-cheeses-cheeseblock-images .button-container {
  position: absolute ;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.layout-switcher {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background-color: var(--wp--preset--color--formo-blue);
  color: white;
}