@media (max-width: 781.98px) {
  .formo-cheeses-cheeseblock-cols {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  .formo-cheeses-cheeseblock-col {
    flex: 0 0 50%;
    position: relative;
    padding: var(--wp--custom--spacing--outer);
  }
  .formo-cheeses-cheeseblock-images {
    display: grid;
    padding: 0;
  }
  .formo-cheeses-cheeseblock--image {
    width: 100%;
    display: block;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2.formo-cheeses-cheeseblock-title {
    position: relative;
    z-index: 2;
    color: var(--wp--preset--color--formo-blue);
    margin-top: .25em!important;
  }
  .formo-cheeses-cheeseblock-content {
  
    & ul {
      padding: 0 0 0 1.5em!important;
      margin: 0;
  
      & li {
        margin: 0!important;
      }
    }
  }
}
@media (min-width: 782px) {
  .formo-cheeses-cheeseblock-cols {
    display: flex;
    gap: 0;
    
    &.text_right {
        flex-direction: row-reverse;
      }
  }
  .formo-cheeses-cheeseblock-col {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: var(--wp--custom--spacing--outer);
    overflow: visible;
  }
  .formo-cheeses-cheeseblock-images {
    display: grid;
    padding: 0;
  }
  .formo-cheeses-cheeseblock--image {
    width: 100%;
    display: block;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2.formo-cheeses-cheeseblock-title {
    position: relative;
    z-index: 2;
    color: var(--wp--preset--color--formo-blue);
    width: 200%;
    margin-top: .25em!important;
  }
  .text_right h2.formo-cheeses-cheeseblock-title {
    transform: translateX(-50%);
    text-align: right;
  }
  .formo-cheeses-cheeseblock-content {
    max-width: 28rem;
  
    & ul {
      padding: 0 0 0 1.5em!important;
      margin: 0;
  
      & li {
        margin: 0!important;
      }
    }
  }
}